body {
  background-image: linear-gradient(to right top,#1b9dd9,#d2e6fa);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.container{
  width: 50%;
}

.search {
  background-color: #fff;
  padding: 0.25rem;
  border-radius: 0.3125rem
}

.search-1 {
  position: relative;
  width: 100%
}

.search-1 input {
  height: 2.8125rem;
  border: none;
  width: 100%;
  padding-left: 2.125rem;
  padding-right: 0.125rem;
  border-right: 0.125rem solid #eee
}

.search-1 input:focus {
  border-color: none;
  box-shadow: none;
  outline: none
}

.search-1 i {
  position: absolute;
  top: 0.75rem;
  left: 0.3125rem;
  font-size: 1.5rem;
  color: #eee
}

::placeholder {
  color: #eee;
  opacity: 1
}

.search-1 button {
  position: absolute;
  right: 0.0625rem;
  top: 0px;
  border: none;
  height: 2.8125rem;
  background-color: red;
  color: #fff;
  width: 5.625rem;
  border-radius: 4px;
  left: 31.25rem;
}

@media (max-width:800px) {
  .search-1 input {
      border-right: none;
      border-bottom: 0.0625rem solid #eee
  }

  .search-1 button {
      height: 2.3125rem;
      top: 0.3125rem
  }
}